/* CONTENT SECTION STYLING */
.designWorkSection, .devWorkSection {
    margin: 210px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.caseStudiesSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.caseStudy {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.caseStudy img {
    width: 100%;
    object-fit: cover;
}

.devDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    padding-top: 80px;
}

#githubIconBody {
    font-size: 600px;
    color: var(--darkGrey);
}